{% extends "base.twig" %}
{% block header %}
    <h1>Face2Face
        <small>Результаты очного противостояния 2-х команд</small>
    </h1>
{% endblock %}

{% block content %}
    <h4>Выберите немецкую команду из списка или введите ID любой команды</h4>
    <form class="form-inline">

        <div class="row" style="padding: 5px 0">
            <div class="col-md-1">
                <label for="season">Сезон: </label>
            </div>
            <div class="col-md-11">
                <select id="season" name="season" class="form-control"
                        title="По этому сезону будут запрашиваться результаты">
                    {% for season_id,season in allSeasons %}
                        <option value="{{ season_id }}" {% if season_id == currentSeasonId %} selected{% endif %}>{{ season }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <div class="row" style="padding: 5px 0">
            <div class="col-md-1">
                <label for="defaultCountry">Страна: </label>
            </div>
            <div class="col-md-11">
                <input id="defaultCountry" class="form-control" name="defaultCountry"
                       title="По этой стране будет строиться готовый список команд"
                       value="{{ defaultCountry }}">
            </div>
        </div>

        <div class="row" style="padding: 5px 0">
            <div class="col-md-1">
                <label for="team1ID">1-я команда:</label>
            </div>
            <div class="col-md-2">
                <select id="team1ID" name="team1ID" class="form-control" onfocus="$('#team1IDcustom').val('')">
                    <option value="">--Выберите команду --</option>
                    {% set city =  '' %}
                    {% for team in teams %}
                    {% if city != team.town %}
                    </optgroup>
                    {% set city = team.town %}
                    <optgroup label="{{ city }}">
                        {% endif %}
                        <option value="{{ team.idteam }}" {% if team.idteam == team1id %} selected{% endif %}>{{ team.name }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <input id="team1IDcustom" name="team1IDcustom" type="number" class="form-control"
                       value="{{ customteam1id }}" placeholder="ID любой команды" onfocus="$('#team1ID').val('')">
            </div>
        </div>

        <div class="row" style="padding: 5px 0">
            <div class="col-md-1">
                <label for="team2ID">2-я команда:</label>
            </div>
            <div class="col-md-2">
                <select id="team2ID" name="team2ID" class="form-control" onfocus="$('#team2IDcustom').val('')">
                    <option value="">--Выберите команду --</option>
                    {% set city =  '' %}
                    {% for team in teams %}
                    {% if city != team.town %}
                    </optgroup>
                    {% set city = team.town %}
                    <optgroup label="{{ city }}">
                        {% endif %}
                        <option value="{{ team.idteam }}" {% if team.idteam == team2id %} selected{% endif %}>{{ team.name }}</option>
                        {% endfor %}
                </select>
            </div>
            <div class="col-md-2 col-md-offset-1">
                <input id="team2IDcustom" name="team2IDcustom" type="number" class="form-control"
                       value="{{ customteam2id }}" placeholder="ID любой команды" onfocus="$('#team2ID').val('')">
            </div>
        </div>

        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <button type="submit" class="btn btn-primary">Сравнить</button>
            </div>
        </div>
    </form>

    <hr>

    {% if error_message %}
        <div class="alert alert-danger" role="alert">{{ error_message }}</div>
    {% else %}
        <div class="panel panel-default f2f-panel">
            <!-- Default panel contents -->
            <div class="panel-heading">"{{ team1.name }}" ({{ team1.city }}) vs. "{{ team2.name }}" ({{ team2.city }})
            </div>
            <div class="panel-body">
                {% if fac2face %}
                <h3>Соотношение побед и поражений</h3>
                <div class="progress">
                    <div class="progress-bar  progress-bar-success"
                         style="width: {{ totals.team1wins / 0.01 / totals.games }}%;">
                        {{ totals.team1wins }}
                    </div>
                    <div class="progress-bar  progress-bar-warning"
                         style="width: {{ totals.draws / 0.01 / totals.games }}%;">
                        {{ totals.draws }}
                    </div>
                    <div class="progress-bar  progress-bar-danger"
                         style="width: {{ totals.team2wins / 0.01 / totals.games }}%;">
                        {{ totals.team2wins }}
                    </div>
                </div>
                <h3>Результаты по турам</h3>
                <table class="f2ftable table table-hover">
                    {% set total1 = 0 %}
                    {% set total2 = 0 %}
                    <thead>
                    <tr>
                        <th>№</th>
                        <th>Турнир</th>
                        <th>Счет</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i,tourResult in fac2face %}
                        <tr class="{% if tourResult.result == 'team1win' %}success{% elseif tourResult.result == 'team2win' %}danger{% else %}warning{% endif %}">
                            <td>
                                {{ i+1 }}
                            </td>
                            <td>
                                <a href="http://rating.chgk.info/tournament/{{ tourResult.tour_id }}" target="_blank">
                                    {{ tourResult.tour_name }}
                                </a>
                            </td>
                            <td class="f2f-row-scores">
                                {{ tourResult.team1points }} : {{ tourResult.team2points }}
                            </td>
                        </tr>
                        {% set total1 = total1 + tourResult.team1points %}
                        {% set total2 = total2 + tourResult.team2points %}
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    <tr class="{% if total1 > total2 %}success{% elseif total1 < total2 %}danger{% else %}warning{% endif %}">
                        <td colspan="3" class="text-right">
                            <strong>{{ total1 }} : {{ total2 }}</strong>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
            {% else %}
                <div class="alert alert-danger" role="alert">Увы, противостояний не найдено.</div>
            {% endif %}
        </div>
    {% endif %}
{% endblock %}
