{% extends "base.twig" %}

{% block content %}
    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                {% for tour in tours %}
                    <li {% if tour.idtournament == currentTourId %} class="active"{% endif %}>
                        <a href="?tournament={{ tour.idtournament }}">{{ tour.name }}</a>
                        {% if tour.idtournament == currentTourId %}<span class="sr-only">(current)</span>{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Результаты турниров ЧГК</h1>
                        <form class="form-inline">

                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-2">
                                    <label for="season">Сезон: </label>
                                </div>
                                <div class="col-md-10">
                                    <select id="season" name="season" class="form-control"
                                            title="По этому сезону будут запрашиваться результаты">
                                        {% for season_id,season in allSeasons %}
                                            <option value="{{ season_id }}" {% if season_id == currentSeasonId %} selected{% endif %}>{{ season }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-2">
                                    <label for="defaultCountry">Выбранная страна: </label>
                                </div>
                                <div class="col-md-10">
                                    <input id="defaultCountry" class="form-control" name="defaultCountry"
                                           title="По этой стране будут запрашиваться результаты"
                                           value="{{ defaultCountry }}">
                                </div>
                            </div>

                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-2">
                                    <label for="defaultTown">Выбранный город: </label>
                                </div>
                                <div class="col-md-10">
                                    <input id="defaultTown" class="form-control" name="defaultTown"
                                           title="По этому городу будет построен список сыгранных турниров"
                                           value="{{ defaultTown }}">
                                    <span class="alert alert-warning hidden-sm" role="alert">
                                        <span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>
                                        <span class="sr-only">Внимание:</span>
                                        Страна и город должны совпадать, скрипт этого не проверяет
                                    </span>
                                </div>
                            </div>

                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-2">
                                    <label for="tourID">ID турнира: </label>
                                </div>
                                <div class="col-md-10">
                                    <input type="number" id="tourID" class="form-control" name="tournament"
                                           value="{{ currentTourId }}"
                                           placeholder="ID турнира">
                                    или
                                    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">выберите из
                                        списка</a>
                                </div>
                            </div>

                            <div class="row" style="padding: 5px 0">
                                <div class="col-md-12 col-md-offset-2">
                                    <input type="submit" class="btn btn-default" title="Результаты по всей стране"
                                           name="country"
                                           value="{{ defaultCountry }}">
                                    <input type="submit" class="btn btn-primary" title="Результаты только по городу"
                                           name="town"
                                           value="{{ defaultTown }}">
                                </div>
                            </div>

                        </form>

                        <hr>

                        <h2 class="sub-header">
                            {{ currentTourInfo.name }}
                            <a class="btn btn-info"
                               href="http://rating.chgk.info/tournament/{{ currentTourInfo.idtournament }}"
                               target="_blank">
                                <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                                Открыть на сайте рейтинга
                            </a>
                        </h2>
                        <div class="panel panel-info">
                            <!-- List group -->
                            <ul class="list-group">
                                <li class="list-group-item"><strong>Начало:</strong> {{ currentTourInfo.date_start }}
                                </li>
                                <li class="list-group-item"><strong>Окончание:</strong> {{ currentTourInfo.date_end }}
                                </li>
                                <li class="list-group-item"><strong>Всего
                                        вопросов:</strong> {{ currentTourInfo.questions_total }}
                                </li>
                            </ul>
                        </div>

                        <h2 class="sub-header">Таблица результатов</h2>
                        {% if results is not empty %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th class="text-center">Место</th>
                                    <th>Команда</th>
                                    <th>Город</th>
                                    <th>Взято</th>
                                    <th>Рейтинг</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for result in results %}
                                    {% if result.place %}
                                        <tr>
                                            <td class="text-center">{{ result.place }}</td>
                                            <td>{{ result.base_name }}</td>
                                            <td>{{ result.town }}</td>
                                            <td>{{ result.questions_total }}</td>
                                            <td>{{ result.diff_bonus }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p class="bg-danger">Извините, результаты не найдены.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    <!-- /#wrapper -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>
{% endblock %}